.page {
  margin: auto;
  width: 1280px;

  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 26px 0px;
}

.header-nav ol {
  text-align: center;
}

.header-nav li {
  display: inline;
  padding: 0px 36px;
}

.header-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}

.banner {
  height: 789px;
  width: 1280px;
}

.heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  padding: 48px 0px 38px 0px;
}

.content {
  text-align: center;
}

.section {
  padding: 0px 68px 28px;
 font-weight: 400;
font-size: 16px;
line-height: 26px;
  letter-spacing: 2.4px;
}

.btn {
  margin: 38px 0px 82px 0px;
  width: 191px;
  height: 51px;
  background: #ff0000;
  border-radius: 4px;
  border-color: #ff0000;
  cursor: pointer;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  padding: 0px 105px 29px 0px;
}
